:root {
  --main-color: #ffffff;
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --button-color: #f5f4fa;
  --button-second-color: #188ce8;
  --third-color: #000000;
  --background-color: #2f303a;
  --background-second-color: #f5f4fa;
  --link-color: #afb1b8;
  --adress-color: rgba(255, 255, 255, 0.6);

  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--main-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
  /* outline: 2px solid tomato; */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

/* Header */

.header {
  border-bottom: 1px solid #ececec;
}

.webstudio {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  color: var(--accent-color);

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.webstudio-black {
  color: var(--third-color);
}

.navigation-title {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 250ms var(--animation-timing-function);
}

.current {
  color: var(--accent-color);
}

.item {
  position: relative;
}

.navigation-title.current::after {
  content: '';
  position: absolute;
  bottom: -1.1px;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
  transform: scaleX(1);
}

.navigation .navigation-adress {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  text-decoration: none;
  transition: color 250ms var(--animation-timing-function);
}

.navigation-title:hover::after {
  transform: scaleX(1);
}

.navigation-title::after {
  content: '';
  position: absolute;
  bottom: -1.1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transition: transform 250ms var(--animation-timing-function);
}

.navigation .navigation-title:hover,
.navigation .navigation-title:focus {
  color: var(--accent-color);
}

.navigation .navigation-adress:hover,
.navigation .navigation-adress:focus {
  color: var(--accent-color);
}

.navigation {
  display: flex;
}

.navigation.main .item:not(:last-child) {
  margin-right: 50px;
}

.navigation.adress {
  margin-left: auto;
}

.navigation.adress .item:not(:last-child) {
  margin-right: 50px;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* Main */

.hero {
  background-color: var(--background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/main/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-color);

  width: 696px;
  margin-left: auto;
  margin-right: auto;

  margin-top: 0;
  margin-bottom: 30px;
}

.hero .btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  padding: 10px 32px;
  min-width: 200px;
  display: inline-block;

  color: var(--main-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;

  transition: background-color 250ms var(--animation-timing-function);
}

.hero .btn:hover,
.hero .btn:focus {
  background-color: var(--button-second-color);
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-items .features-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-text-color);

  margin-bottom: 10px;
}

.features-items .features-item {
  font-weight: 400;
  line-height: 1.71;
  width: 270px;

  color: var(--second-text-color);
}

.features-items:not(:last-child) {
  margin-right: 30px;
}

.features-list {
  display: flex;
}

.features-icon-container {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  background-color: var(--background-second-color);
}

/* What we do */

.doing {
  padding-bottom: 94px;
}

.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);

  margin-bottom: 50px;
}

.doing-list {
  display: flex;
}

.doing-item:not(:last-child) {
  margin-right: 30px;
}

.our-works-list-item-cover {
  position: relative;
}

.our-works-list-item-cover-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Team */

.team {
  background-color: var(--background-second-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--primary-text-color);

  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--primary-text-color);

  margin-bottom: 10px;

  text-align: center;
}

.team-prof {
  font-size: 16px;
  line-height: 1.19;

  color: var(--second-text-color);

  text-align: center;
  margin-bottom: 16px;
}

.card-team {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list {
  display: flex;
}

.team-item {
  background: var(--main-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-network {
  display: flex;
  justify-content: center;
}

.team-network-item {
  width: 44px;
  height: 44px;
}

.team-network-item:not(last-child) {
  margin-right: 10px;
}

.team-network-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  color: var(--link-color);
  background-color: var(--main-color);
  border-radius: 50%;
  transition: color 250ms var(--animation-timing-function),
    background-color 250ms var(--animation-timing-function);
}

.team-network-link:hover,
.team-network-link:focus {
  background-color: var(--accent-color);
  color: var(--main-color);
}

.team-network-icon {
  fill: currentColor;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--primary-text-color);

  margin-bottom: 50px;
}

/* Clients */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-list {
  display: flex;
  justify-content: center;
}

.client-item {
  width: 170px;
  height: 92px;
}

.client-item:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: var(--link-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms var(--animation-timing-function),
    background-color 250ms var(--animation-timing-function);
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.client-icon {
  fill: currentColor;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--animation-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 581px;
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--animation-timing-function);
  padding: 40px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  background-color: var(--main-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-image: url(../images/x.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-field-title {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.form-field-input {
  outline: none;
  width: 100%;
  padding: 12px 12px 12px 42px;
  transition: border-color 250ms var(--animation-timing-function);
  cursor: pointer;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-field-input:hover,
.form-field-input:focus {
  border-color: var(--accent-color);
}

.form-field-input:hover + .form-field-input-icon,
.form-field-input:focus + .form-field-input-icon {
  fill: var(--accent-color);
}

.button-submit {
  display: block;
  padding: 10px 55px;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: var(--accent-color);
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms var(--animation-timing-function);
}

.button-submit:hover,
.button-submit:focus {
  background-color: var(--button-second-color);
}

.form-field.policy {
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.form-field-input-area {
  position: relative;
}

.form-field-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--animation-timing-function);
}

.form-field textarea {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.policy {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.policy-link {
  margin-left: 4px;
  text-decoration-line: underline;
  color: #2196f3;
}

.form-field textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox:checked + .checkbox-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
}

.checkbox-icon {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  background-image: url('data:image/svg+xml,%3Csvg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z" fill="%23212121"/%3E%3C/svg%3E%0A');
}

/* Footer */

footer {
  background-color: var(--background-color);
}

.webstudio-footer {
  display: flex;

  color: var(--accent-color);

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.webstudio-white {
  color: var(--main-color);
}

.adress-link {
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  color: var(--main-color);
  transition: color 250ms var(--animation-timing-function);
}

.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}

.adress-contacts {
  line-height: 1.71;
  font-style: normal;
  color: var(--adress-color);
  transition: color 250ms var(--animation-timing-function);
}

.adress-contacts:hover,
.adress-contacts:focus {
  color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.webstudio-link {
  margin-bottom: 20px;
}

.adress-list:not(:last-child) {
  margin-bottom: 9px;
}

.container.ftr {
  display: flex;
  align-items: baseline;
}

.footer-container {
  margin-right: 70px;
}

.footer-join {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--main-color);

  margin-bottom: 20px;
}

.footer-network {
  display: flex;
  justify-content: center;
}

.footer-network-item:not(:last-child) {
  margin-right: 10px;
}

.footer-network-item {
  width: 44px;
  height: 44px;
}

.footer-network-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--main-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms var(--animation-timing-function);
}

.footer-network-link:hover,
.footer-network-link:focus {
  background-color: var(--accent-color);
}

.footer-network-icon {
  fill: currentColor;
}

.footer-mailing-section {
  margin-left: auto;
}

/* Subscribe */

.footer-social-media-title,
.footer-mailing-section-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--main-color);
}

.footer.form-field-input {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  padding: 15px;
  border-radius: 4px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--main-color);
  background-color: var(--background-color);
  transition: border-color 250ms var(--animation-timing-function);

  outline: none;
  cursor: pointer;
}

.button.footer-mail-submit {
  padding: 10px 28px;

  border-radius: 4px;
  align-items: center;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);

  display: inline-flex;
  border: none;
  outline: none;
  background-color: var(--accent-color);
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms var(--animation-timing-function);
}

.button.footer-mail-submit:hover,
.button.footer-mail-submit:focus {
  background-color: var(--button-second-color);
}

.footer-mail-submit-icon {
  margin-left: 10px;
  fill: currentColor;
}

/* Portfolio */
.portfolio-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-buttons {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.portfolio-button:not(:last-child) {
  margin-right: 8px;
}

.portfolio .btn-portfolio {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--button-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  padding: 6px 22px;
  text-align: center;
  transition: color 250ms var(--animation-timing-function),
    background-color 250ms var(--animation-timing-function),
    box-shadow 250ms var(--animation-timing-function);
}

.portfolio .title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio .btn-portfolio:hover,
.portfolio .btn-portfolio:focus {
  color: var(--main-color);
  background: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.text-portfolio {
  font-size: 16px;
  line-height: 1.8;
  color: var(--second-text-color);
}

.portfolio-list {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-top: none;
  border: 1px solid #eeeeee;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-info {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-info:nth-child(3n) {
  margin-right: 0;
}

.projects-info:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.example-item {
  display: block;
  border: 1px solid #eeeeee;
}

.example-item:hover,
.example-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms var(--animation-timing-function);
}

.example-item {
  text-decoration: none;
}

/* Cards */

.projects-list-item-cover {
  position: relative;
  overflow: hidden;
}

.projects-list-item-cover-text {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  transform: translateY(101%);
  transition: transform 250ms var(--animation-timing-function);

  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--main-color);
  background: rgba(33, 150, 243, 0.9);
}

.example-item:hover .projects-list-item-cover-text,
.example-item:focus .projects-list-item-cover-text {
  transform: translateY(0%);
}
